<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/styles/account.css') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        
        {% for message in messages %}
            <p class="alert">{{ message }}<p>
        {% endfor %}
        
    {% endif %}
    {% endwith %}
    <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Update Account Details</h2>
          </div>
          <div><img src="{{ image_file }}" style="border-radius: 50%;height: 120px;width: 120px;"></div>
          

          
          <div class="row clearfix">
            <div class="">
                <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form_group">
                    {% if form.picture.errors %}
                    {{form.picture.label}}{{form.picture}}
                        {% for error in form.picture.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
            
                    {% else %}
                    {{form.picture.label}}{{form.picture}}
                    {% endif %}
                    
                </div>
                <div class="row clearfix">
                    <div class="col_half">
                      <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                        {{form.firstname}}
                        <!-- {{form.lastname}} -->
                      </div>
                    </div>
                    <div class="col_half">
                      <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                        {{form.lastname}}
                      </div>
                    </div>
                  </div>

                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                  {% if form.username.errors %}
                  {{form.username}}
                      {% for error in form.username.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}

                  {% else %}
                      {{form.username}}
                  {% endif %}
                </div>

                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                      {% if form.email.errors %}
                      {{form.email}}
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}

                      {% else %}
                          {{form.email}}
                      {% endif %}
                  
                </div>
                <div class="input_field radio_option">
                    <p1> Date Of Birth</p1>
                      {{form.dob}}
                </div>
                
                
                     
                <div class="button">{{form.submit}}</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <p class="credit">Goto Home without any changes <a href="{{ url_for('utilities.home') }}" >Home</a></p>
</body>
</html>