<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static',filename='/styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/styles/templatemo-style.css') }}">

</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert-alert">{{ message }}</div>
        {% endfor %}

    {% endif %}
    {% endwith %}
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ (url_for('utilities.home') )}}">
                <i class="fas fa-film mr-2"></i>
                PostWorld
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="{{ (url_for('utilities.home') )}}">All Posts</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="{{ url_for('posts.mypost') }}">My posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="{{ url_for('messages.message_menu') }}">Messages</a>
                </li>
                {% else %}
                    {% if (title!="login") and (title!="register") %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="{{ url_for('users.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-2" href="{{ url_for('users.register') }}">Sign Up</a>
                    </li>
                    {% endif %}
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="{{ url_for('users.account') }}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="{{ url_for('users.logout') }}">Log Out</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>

    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{{ url_for('static',filename='img/hero.jpg') }}">
        <form class="d-flex tm-search-form" action="{{ url_for('posts.searchpost') }}" method="post">
            <input name="search-data" class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <input type="hidden" value="home" name="postpage">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    <div class="btn">

        <a class="btn btn-primary tm-btn-next" href="{{ url_for('posts.createpost') }}">createpost</a>


    </div>
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Latest Posts
            </h2>
            {% if posts %}
            <div class="col-6 d-flex justify-content-end align-items-center">
                <form action="{{ url_for('utilities.goto_page') }}" class="tm-text-primary" method="post">
                    Page: <input name="goto-page" type="text" placeholder="{{ posts.page }}" size="5" class="tm-input-paging tm-text-primary"> of {% if posts.pages==0 %} 1 {% else %} {{ posts.pages }} {% endif %}
                    <input name="last-page" type="text" value="{{ posts.page }}" hidden>
                    <button type="submit" style="border:yellow;background-color: yellowgreen;color: rgb(250, 249, 246);">GoTo</button>
                </form>
            </div>
            {% else %}
            {% endif %}
        </div>

        {% if posts %}
            {% for post in posts.items %}
                    <div class="row tm-mb-90 tm-gallery">
                        <div class="posthead">

                            <div class="pro_pic">
                                <img src="/static/images/{{ User.query.filter_by(id=post.userid).first().image_file }}" style="border-radius: 50%;height: 30px;width: 30px;">
                                <a href="{{ url_for('utilities.profile_view',userid=post.userid) }}" >{{ User.query.filter_by(id=post.userid).first().firstname }} {{ User.query.filter_by(id=post.userid).first().lastname }}</a>
                                {% if current_user.id==post.userid %}
                                    <button><a href="{{ url_for('posts.update_post',postid=post.postid,userid=post.userid,page=posts.page) }}">Edit</a></button>
                                    <button><a href="{{ url_for('posts.delete_post',postid=post.postid,userid=post.userid,page=posts.page) }}">Delete</a></button>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                            <div class="postdesc">

                                <h5>{{ post.post_details }} </h5>

                            </div>

                            <figure class="effect-ming tm-video-item">

                                {% for image in Images.query.filter_by(userid=post.userid,postid=post.postid) %}

                                    <img src="{{ image.images_name }}" alt="Image" class="img-fluid">

                                {% endfor %}

                            </figure>
                            <div class="d-flex justify-content-between tm-text-gray">
                                <span class="tm-text-gray-light">{{ post.post_create_date }}</span>
                                <span>{{post.post_views}} views</span>
                            </div>
                        </div>
            {% endfor %}

    {% else %}
        {% if current_user.is_authenticated %}

        {% else %}
            <h2 style="text-align: center;">Please <a href="{{ url_for('users.login') }}">Login</a> or <a href="{{ url_for('users.register') }}">Sign UP</a> to view Post</h2>
            <br><br>
        {% endif %}
    {% endif %}
            <!-- when No data -->
        {% if posts %}
            {% if posts.pages==0 %}
                <h2 style="text-align: center;">
                    No Data Found
                </h2>
            {% endif %}
        {% endif %}
            </div>
        </div>

    {% if posts %}
        {% if posts.iter_pages %}
        <p>Pages : </p>
        {% endif %}
        <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                {% if posts.has_prev %}
                <a href="{{ url_for('utilities.home', page=posts.prev_num) }}" class="btn btn-primary tm-btn-prev mb-2 ">Previous</a>
                {% endif %}
                {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                    <div class="tm-paging d-flex">
                        {% if page_num %}
                            {% if page_num==posts.page %}
                                <a href="{{ url_for('utilities.home',page=page_num) }}" class="active tm-paging-link">{{ page_num }}</a>

                            {% else %}
                                <a href="{{ url_for('utilities.home',page=page_num) }}" class="tm-paging-link">{{ page_num }}</a>
                            {% endif %}
                        {% else %}

                        {% endif %}
                    </div>
                {% endfor %}
                {% if posts.has_next %}
                <a href="{{ url_for('utilities.home', page=posts.next_num) }}" class="btn btn-primary tm-btn-next">Next Page</a>
                {% endif %}
            </div>
        </div>

    {% endif %}
    </div> <!-- container-fluid, tm-container-content -->

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">About PostWorld</h3>
                    <p>PostWorld <a rel="sponsored" href="#/">Bootstrap 5</a> Alpha 2 HTML Template for video and photo websites. You can freely use this TemplateMo layout for a front-end integration with any kind of CMS website.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Our Links</h3>
                    <ul class="tm-footer-links pl-0">
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Our Company</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                        <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                        <li class="mb-2"><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                        <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                        <li class="mb-2"><a href="https://pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                    <a href="#" class="tm-text-gray text-right d-block mb-2">Terms of Use</a>
                    <a href="#" class="tm-text-gray text-right d-block">Privacy Policy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    Copyright 2022 #####. All rights reserved.
                </div>
                <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                    Designed by <a href="" class="tm-text-gray" rel="sponsored" target="_parent">Bishwajit Garai</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static',filename='js/plugins.js') }}"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>