<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/register.css') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<body>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              
              {% for message in messages %}
                  <p class="alert">{{ message }}<p>
              {% endfor %}
              
          {% endif %}
      {% endwith %}
    <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Reset Password</h2>
          </div>
          <div class="row clearfix">
            <div class="">
              <form method="post">
                {{ form.hidden_tag() }}

                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                  {% if form.email.errors %}
                      {{form.email}}
                          {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}

                      {% else %}
                          {{form.email}}
                      {% endif %}
                </div>
                <br>
                <div class="button">{{form.submit}}</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <p class="credit">New to PostWorld?? <a href="{{ url_for('users.register') }}" >Sign Up</a></p>
</body>
</html>