<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/register.css') }}">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<body>
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              
              {% for message in messages %}
                  <p class="alert">{{ message }}<p>
              {% endfor %}
              
          {% endif %}
      {% endwith %}
    <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Welcome Back to PostWorld</h2>
          </div>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
              
              {% for message in messages %}
                  <p class="alert">{{ message }}<p>
              {% endfor %}
              
          {% endif %}
          {% endwith %}
          <div class="row clearfix">
            <div class="">
              <form method="post">
                {{ form.hidden_tag() }}
                <h3>
                    {% if user_email %}
                        Email :    {{user_email}}
                    {% endif %}
                </h3><br>
                    
                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                    {% if form.password.errors %}
                        {{form.password}}
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
  
                        {% else %}
                            {{form.password}}
                        {% endif %}
                  </div>
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                    {% if form.confirm_password.errors %}
                    {{form.confirm_password}}
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
  
                    {% else %}
                        {{form.confirm_password}}
                    {% endif %}
                  </div>
                <br>
                <div class="button">{{form.submit}}</div>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>